.basket_icon {
    background-color: rgb(187, 96, 80);
    position        : fixed;
    bottom          : 11%;
    right           : 3%;
    width           : 70px;
    height          : 70px;
    border-radius   : 50%;
    font-size       : 34px;
    transition      : 0.3s;
    z-index         : 10;
    color           : #fff;
}

.basket_icon__number {
    height         : 20px;
    width          : 20px;
    background     : #fff;
    color          : black;
    font-size      : 15px;
    position       : absolute;
    bottom         : 0;
    right          : 0;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.basket_icon:hover {
    transform: scale(1.1);
}

.basket {
    width           : 100%;
    height          : 100%;
    background-color: rgba(61, 61, 61, 0.8);
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 100;
    display         : none;
}

.basket section {
    width: 100%;
}

.basket__inner {
    width           : 70%;
    height          : 90%;
    justify-content : center;
    position        : absolute;
    text-align      : center;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    background-color: #fff;
    min-width       : 600px;
}

.basket__inner__box {
    height        : 100%;
    width         : 100%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.basket__inner__box .basket_closer {
    position: absolute;
    right   : 5%;
    top     : 5%;
    z-index : 2;
    cursor  : pointer;
}

.basket__inner__box .basket_closer a {
    color    : #000;
    font-size: 24px;
}

.basket__inner__title {
    min-height: 100px;
    font-size      : 40px;
    font-weight    : 700;
    align-items    : center;
    display        : flex;
    justify-content: center;
    border-bottom  : 2px solid #7e7e7e;
    width          : 90%;
    height         : 12%;
}

.basket__inner__cash {
    position       : absolute;
    bottom         : 0;
    left           : 0;
    font-size      : 40px;
    text-align     : center;
    border-top     : 2px solid #7e7e7e;
    width          : 100%;
    justify-content: center;
    display        : flex;
    height         : 12%;
    min-height: 80px;
}

.basket__inner__cash__left {
    display    : flex;
    position   : absolute;
    left       : 5%;
    height     : 100%;
    align-items: center;
}

.basket__inner__cash__right {
    position       : absolute;
    right          : 5%;
    display        : flex;
    width          : 140px;
    height         : 100%;
    justify-content: center;
}

.basket__inner__cash__right .buy {
    position        : absolute;
    top             : 50%;
    transform       : translate(0, -50%);
    padding         : 15px 40px;
    background-color: rgb(187, 96, 80);
    border-radius   : 15px;
    transition      : 0.3s;
    color           : #fff;
}

.cart__info {
    text-align: center;
    font-size : 24px;
    margin-top: 100px;
}

.basket__inner__cash__right .buy:hover {
    background-color: rgb(216, 113, 53);
}

.basket__inner__cash__text {
    font-size   : 32px;
    margin-right: 10px;
}

.basket__inner__cash .summ {
    font-size   : 35px;
    font-weight : 600;
    margin-right: 5px;
}

.basket__inner__items {
    width      : 100%;
    padding-top: 5%;
    height     : 76%;
}

.basket__inner .item {
    width                : 100%;
    display              : grid;
    padding              : 0 5%;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows       : 150px;
}

.basket__inner .item__text {
    margin-top: 20px;
}

.basket__inner .item__text__name a {
    color    : #000;
    font-size: 20px;
}

.basket__inner .item__text__buttons {
    display        : flex;
    justify-content: center;
    margin-top     : 20px;
}

.basket__inner .item__text__buttons__number {
    font-size      : 21px;
    height         : 100%;
    display        : flex;
    align-items    : center;
    width          : 40px;
    height         : 40px;
    justify-content: center;
}

.basket__inner .item__text__buttons .delete {
    margin-left: 20px;
}

.basket__inner .item img {
    width     : 70%;
    text-align: center;
}

.basket__inner .basket__button {
    font-size    : 20px;
    width        : 40px;
    height       : 40px;
    border-radius: 50%;
}

.closer {
    font-size: 26px;
    z-index  : -1;
}

.display_none {
    display: none
}

.cart {
    width  : 100%;
    height : 100%;
    padding: 5% 10%;
}

.section_cart {
    background: #f1f2ff;
}

.section_cart__container {
    width: 680px;
}

.cart__info {
    text-align: center;
    font-size : 24px;
    display: none;
}

.cart__table {
    width: 100%;
}

.cart__empty {
    display: none;
}

.js-cart-wrapper.is-empty .cart__empty {
    display: block;
}

.js-cart-wrapper.is-empty .cart__form {
    display: none;
}

.cart__item {
    margin-top: 20px;
}

.cart__totals {
    text-align   : right;
    margin-top   : 20px;
    margin-bottom: 30px;
}

.cart__bold {
    font-weight: 500;
    font-size  : 12px;
    font-family: 'Montserrat', sans-serif;
}

.cart_item {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-bottom  : 1px solid #ccc;
    padding-bottom : 20px;
}

.cart_item__main {
    display      : flex;
    align-items  : center;
    padding-right: 20px;
}

.cart_item__end {
    align-items: center;
    display    : flex;
}

.cart_item__actions {
    display    : flex;
    align-items: center;
}

.cart_item__title {
    margin     : 0;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    font-size  : 22px;
}

.cart_item__img_wrapper {
    flex-shrink : 0;
    margin-right: 20px;
}

.cart_item__start {
    margin-right: 20px;
}

.cart_item__img {
    width: 150px;
}

.cart_item__attribute {
    margin: 5px 0 0;
}

.cart_item__btn {
    border-radius  : 50%;
    background     : none;
    border         : 0;
    cursor         : pointer;
    text-decoration: none;
}

.cart_item__btn {
    border-radius  : 50%;
    background     : none;
    border         : 0;
    cursor         : pointer;
    text-decoration: none;
    padding        : 0;
    position       : relative;
    display        : inline-block;
    width          : 32px;
    height         : 32px;
    overflow       : hidden;
    border         : 2px solid #178299;
    color          : #178299;
    font-weight    : 900;
    transition     : background .2s, opacity .2s;
}

.cart_item__btn:active {
    opacity: .5;
}

.cart_item__btn:hover {
    background: #192D30;
    color     : #fff;
    border    : 2px solid #192D30;
}

.cart_item__btn__remove:hover::before,
.cart_item__btn__remove:hover::after {
    background: #fff;
}

.cart_item__btn__::before,
.cart_item__btn__remove::after {
    content   : '';
    position  : absolute;
    height    : 2px;
    width     : 15px;
    top       : 50%;
    left      : 6px;
    margin-top: -1px;
    background: #192D30;
    transition: bacgkround .2s;
}

.cart_item__btn__remove::before {
    transform: rotate(45deg);
}

.cart_item__btn__remove::after {
    transform: rotate(-45deg);
}

.cart_item__quantity {
    padding: 0 10px;
    display: inline-block;
}

.cart_item__price {
    margin    : 0 0 0 15px;
    min-width : 80px;
    text-align: right;
}

@media (max-width: 576px) {
    .cart_item {
        flex-direction: column;
        text-align    : center;
        padding-bottom: 20px;
    }

    .cart_item__main {
        padding-right: 0;
        display      : block;
    }

    .cart_item__start {
        margin-right : 0;
        margin-bottom: 10px;
    }

    .cart_item__end {
        display: block;
    }

    .cart_item__actions {
        margin-bottom: 10px;
    }

    .cart_item__content {
        margin-bottom: 10px;
    }

    .cart_item__price {
        margin-left: 0;
        text-align : center;
        min-width  : 0;
    }

    .cart_item__img-wrapper {
        margin-right: 0;
    }

    .cart_item__btn__remove:not(:hover) {
        border-color: #ccc;
    }

    .cart_item__btn__remove::before,
    .cart_item__btn__remove::after {
        background: #ccc;
    }
}

.cart_btn {
    position     : fixed;
    bottom       : 60px;
    right        : 60px;
    background   : #fff;
    width        : 100px;
    height       : 100px;
    border       : 0;
    border-radius: 50%;
    cursor       : pointer;
    box-shadow   : 0 -2px 20px rgba(0, 0, 0, .15);
    z-index      : 5;
    transition   : transform .2s, opacity .2s;
    padding      : 0;
}

.cart_:hover {
    transform: scale(1.1);
}

.cart_btn:active {
    opacity  : .6;
    transform: scale(1);
}

.cart_btn:hover .cart_btn__icon {
    fill: #192D30;
}

.cart_btn__counter {
    position       : absolute;
    top            : 0;
    right          : 0;
    transform      : translate(0px, -10px);
    background     : #192D30;
    min-width      : 35px;
    height         : 35px;
    padding        : 5px;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    color          : #fff;
    font-weight    : 900;
    font-family    : 'Montserrat', sans-serif;
    letter-spacing : 0.05em;
}

.cart_btn__icon {
    position  : absolute;
    top       : 50%;
    left      : 50%;
    transform : translate(-50%, -50%);
    width     : 50px;
    height    : 50px;
    transition: fill .2s;
}

@media (max-width: 576px) {
    .cart_btn {
        right : 30px;
        bottom: 30px;
        width : 80px;
        height: 80px;
    }

    .cart_btn__icon {
        width : 30px;
        height: 30px;
    }

    .cart_btn__counter {
        font-size: 12px;
        min-width: 25px;
        height   : 25px;
        transform: translate(0, -5px);
    }
}

